global
  log stdout format raw local0
  maxconn 512

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 2s
  timeout client 10s
  timeout server 10s
  timeout check 1s

frontend uok_local
  bind *:8080
  default_backend uok_apps

resolvers podman_dns
  parse-resolv-conf
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 5s

backend uok_apps
  balance roundrobin
  option httpchk GET /api/v1/health/ready
  http-check expect status 200
  server app_a app-a:4000 check inter 1s fastinter 250ms downinter 1s fall 2 rise 2 resolvers podman_dns init-addr libc,none
  server app_b app-b:4000 check inter 1s fastinter 250ms downinter 1s fall 2 rise 2 resolvers podman_dns init-addr libc,none
